{% extends "base.html" %}

{% block content %}
<h2>Новости горда {{ events.0.city.name }}:</h2>
{% for i in events %}
<br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ i.title }}</h5>
        <a href="{{ i.link }}" class="btn btn-primary">Перейти к новости</a>
        <p class="card-text"><small class="text-muted">Дата публикации: {{ i.date }}</small></p>
      </div>
    </div>
{% endfor %}
{% include "homepage/homepage_greetings.html" %}

{% endblock %}