
<div class="container" style="clear: both;">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link px-2 text-muted">Главная</a></li>
        <li class="nav-item"><a href="{% url 'museums:museum_list' %}" class="nav-link px-2 text-muted">Музеи</a></li>
        <li class="nav-item"><a href="{% url 'exhibits:exhibit_main' %}" class="nav-link px-2 text-muted">Экспонаты</a></li>
        <li class="nav-item"><a href="{% url 'about:about' %}" class="nav-link px-2 text-muted">Про проект</a></li>
        <li class="nav-item"><a href="https://github.com/hecker0makhambet" class="nav-link px-2 text-muted">Махамбет</a></li>
        <li class="nav-item"><a href="https://github.com/visill" class="nav-link px-2 text-muted">Виктор(тимлид)</a></li>
        <li class="nav-item"><a href="https://github.com/Egor-05" class="nav-link px-2 text-muted">Егор</a></li>
      </ul>
      
      <p class="text-center text-muted">&copy; 2022 Makhambet & Victor & Egor, Inc</p>
    </footer>
</div>