{% extends 'base.html' %}

{% block content %}
<div style="" class="main">
  <div>
  <img src="{{ exhibit.image.url }}"
  style="margin-bottom: 15px;" width="300px" height="300px"></div>
  <div class="alert alert-primary">Название: {{ exhibit.name }}</div>
  <div class="alert alert-secondary">Описание: {{ exhibit.description|safe }}</div>
  <div class="alert alert-danger">Музей: {{ exhibit.museum.name }} <a href="{% url 'museums:museum_detail' exhibit.museum.slug %}">Подробнее...</a></div>
</div>
{% endblock %}